!.gitignore
.gitconfig
*.log
*.csv
**/__pycache__/
*.pyc
!.vscode/settings.json
!.vscode/launch.json
build/
src/yafs.egg-info/
*.
# Ignore local logging and results
examples/ayafs/SingleAgentAPL/logging.ini
examples/ayafs/SingleAgentAPL/results/
examples/ayafs/SingleAgentAPLPymdp/logging.ini
examples/ayafs/SingleAgentAPLPymdp/results/
src/yafs/src/yafs/metrics_online.py.old

examples/ayafs/FederatedLearning/logging.ini
examples/ayafs/FederatedLearning/results/graph_main1
examples/ayafs/SingleAgentAPLPymdp/test.ipynb